@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
span.main{
    color: rgb(241, 66, 66);
}

:root{
    --color_Blue: #3f93f1;
    --color_Dark1: #1e1e1e;
    --color_Dark2: #252527;
    --color_Light1: #dfdfdf;
    --color_Light2: #c4c4c4;
}

/* ========================= */
.sidebar{
    background: var(--color_Dark1);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .5s ease;
    width: 260px;
    z-index: 100;
}
.sidebar.close{
    width: 78px;
}
.logo-box{
    align-items: center;
    color: var(--color_Light1);
    display: flex;
    height: 60px;
    transition: all .5s ease;
    width: 100%;
}
.logo-box:hover{
    color: var(--color_Blue);
}
.login-box i{
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    min-width: 78px;
    text-align: center;
    transition: all .5s ease;
}
.sidebar.close .logo-box i{
    transform: rotate(360deg);
}
.logo-name{
    font-size: 22px;
    font-weight: 600;
}
.sidebar-list{
    height: 100%;
    overflow: auto;
    padding: 30px 0 150px 0;
}
.sidebar-list::-webkit-scrollbar{
    display: none;
}
.sidebar-list li{
    transition: all .5s ease;
}
.sidebar-list li:hover{
    background: var(--color_Dark2);
}
.sidebar-list li .title{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all .5s ease;
}
.sidebar-list li.active .title{
    background: var(--color_Blue);
}
.sidebar-list li.active .bxs-chevron-down{
    transform: rotate(180deg);
    transition: all .5s ease;
}
.sidebar-list li .title .link{
    align-items: center;
    display: flex;
}
.sidebar-list li .title i{
    color: var(--color_Light1);
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    min-width: 70px;
    text-align: center;
}
.sidebar-list li .title .name{
    color: var(--color_Light1);
    font-size: 18px;
    font-weight: 400;
}
.sidebar-list li .submenu{
    height: 0;
    opacity: 0;
    transition: all .5s ease;
    width: 0;
}
.sidebar-list li.dropdown.active .submenu{
    background: var(--color_Dark2);
    display: flex;
    flex-direction: column;
    height: unset;
    opacity: 1;
    padding: 6px 6px 14px 80px;
    width: unset;
}
.submenu .link{
    color: var(--color_Light2);
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}
.submenu .link:hover{
    color: #fff;
}
.submenu-title{
    display: none;
}
/* submenu close */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .bxs-chevron-down{
    display: none;
}
.sidebar.close .sidebar-list{
    overflow: visible;
}
.sidebar.close .sidebar-list li{
    position: relative;
}
.sidebar.close .sidebar-list li .submenu{
    border-radius: 0 6px 6px 0;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 0;
    opacity: 0;
    padding: 10px 20px;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: -10px;
    transition: all .5s ease;
    width: max-content;
}
.sidebar.close .sidebar-list li:hover .submenu{
    background: var(--color_Dark2);
    opacity: 1;
    pointer-events: inherit;
    top: 0;
}
.sidebar.close .submenu-title{
    color: var(--color_Light1);
    display: block;
    font-size: 18px;
}

/* home */
.home{
    background: var(--color_Light1);
    /* height: 100vh; */
    position: relative;
    left: 260px;
    transition: all .5s ease;
    width: calc(100% - 260px);
}
.sidebar.close ~ .home{
    left: 78px;
    width: calc(100% - 78px);
}
.home .toggle-sidebar{
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    width: fit-content;
}
.home .toggle-sidebar i{
    color: var(--color_Dark1);
    font-size: 35px;
    margin-left: 15px;
}
.home .toggle-sidebar .text{
    color: var(--color_Dark1);
    font-size: 25px;
    font-weight: 600;
}

/* dashboard */
:root{
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

/* main */
.main{
    background: var(--white);
    position: absolute;
    /* left: 300px; */
    min-height: 100vh;
    transition: .5s;
    /* width: 100%; */
}
/* .main.active{
    left: 80px;
    width: calc(100% - 80px);
}
.topbar{
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%
}
.toggle{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 2.5rem;
    height: 60px;
    justify-content: center;
    position: relative;
    width: 60px;
}
.search{
    margin: 0 10px;
    position: relative;
    width: 400px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    border: 1px solid var(--black2);
    border-radius: 40px;
    font-size: 18px;
    height: 40px;
    outline: none;
    padding: 5px 20px;
    padding-left: 35px;
    width: 100%;
}
.search label ion-icon{
    font-size: 1.2rem;
    left: 10px;
    position: absolute;
    top: 0;
}

.user{
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.user img{
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
} */

/* cards */
.cardBox{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    position: relative;
    width: 100%;
}
.cardBox .card{
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* padding: 30px; */
    position: relative;
}
.cardBox .card .numbers{
    color: var(--blue);
    font-size: 1.5rem;
    /* font-size: 2.5rem; */
    font-weight: 500;
    position: relative;
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx{
    color: var(--black2);
    font-size: 1.5rem;
    /* font-size: 2.5rem; */
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx{
    color: var(--white);
}

/*  Orders */
.details{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    /* margin-top: 10px; */
    padding: 20px;
    position: relative;
    width: 100%;
}
.details .recentOrders{
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    display: grid;
    min-height: 500px;
    padding: 20px;
    position: relative;
}
.details .cardHeader{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.cardHeader h2{
    color: var(--blue);
    font-weight: 600;
}
.cardHeader .btn{
    background: var(--blue);
    border-radius: 6px;
    color: var(--white);
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
}
.details table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--black1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.status.delivered{
    background: #8de02c;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}
.status.pending{
    background: #e9b10a;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}
.status.return{
    background: #f00;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}
.status.inProgress{
    background: #1795ce;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}

.recentCustomers{
    background: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: grid;
    min-height: 500px;
    padding: 20px;
    position: relative;
}
.recentCustomers .imgBx{
    border-radius: 50px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.recentCustomers .imgBx img{
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    line-height: 1.2rem;
    font-size: 16px;
    font-weight: 500;
}
.recentCustomers table tr td h4 span{
    color: var(--black2);
    font-size: 14px;
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}
/* end dashboard */











/* = Responsive = */
@media (max-width: 1080px){
    
}

/* = Responsive = */
@media (max-width: 774px){

}

@media (max-width: 564px){

}